{% extends 'base.html.twig' %}

{% block title %}
	Modify trick
{% endblock %}

{% block body %}

	<div class="trick-single">
		{{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5',
                        'id': 'trick-modify-form'
                        }
                    })
                }}
		<div class="hero inmodifie">
			<div class="content">
				<div class="hero_background"></div>
				<div class="text_hero column flex position-absolute">
					<h1 class="title">
						{{trick.name}}
					</h1>
					<div class="input">
						<div class="modify text-center">
							<img class="icon white" src="{{asset('assets/img/svg/crayon.svg')}}">
						</div>
					</div>
				</div>
				{% if images.0 is defined %}
					<img class="primary-image-hero" src="{{asset('assets/img/tricks/')}}{{images.0.name}}" alt="">
				{% else %}
					<img class="primary-image-hero" src="{{asset('assets/img/default.jpg')}}" alt="">
				{% endif %}


			</div>

			<div class="input-form trick-name-input">
				<label for="trick_name">Trick name</label>
				{{ form_widget(form.name) }}
				{{ form_errors(form.name) }}
				<div class="close-form btn btn-dark" data-close>
					Close
				</div>
			</div>

			{% if images.0 is defined %}
				<div class="container-panel position-absolute">
					<a href="{{path('modifyTrickImage', {id: images.0.id})}}" class="modify primary-image" data-modify-picture data-image-id="{{images.0.id}}"><img class="icon white" src="{{asset('assets/img/svg/crayon.svg')}}"></a>
					<a href="{{path('deleteTrickImage', {id: images.0.id})}}" class="delete"><img class="icon white" src="{{asset('assets/img/svg/trash.svg')}}" data-delete data-token="{{csrf_token('delete' ~ images.0.id )}}"></a>
				</div>
			{% endif %}

		</div>
		<div class="container">

			<div class="see_media btn-primary btn">
				See medias
			</div>

			<div class="no_see_media btn-primary btn">
				Hide medias
			</div>

			<div class="gallery">
				{% if images %}
					{% for image in images %}
						{% if loop.index != 1 %}
							<span class="image">
								<img class="image-visual" src="{{asset('assets/img/tricks/mini/300x300-')}}{{image.name}}" alt="" srcset="">
								<a href="{{path('modifyTrickImage', {id: image.id})}}" class="modify" data-modify-picture data-image-id="{{image.id}}"><img class="icon white" src="{{asset('assets/img/svg/crayon.svg')}}"></a>
								<a href="{{path('deleteTrickImage', {id: image.id})}}" class="delete"><img class="icon white" src="{{asset('assets/img/svg/trash.svg')}}" data-delete data-token="{{csrf_token('delete' ~ image.id )}}"></a>
							</span>
						{% endif %}
					{% endfor %}
				{% endif %}


				{% for video in videos %}
					<span class="video" data-index="{{loop.index - 1}}">
						{{video.embed|raw}}
						<span class="modify" data-modify-video><img class="icon white" src="{{asset('assets/img/svg/crayon.svg')}}"></span>
						<a href="{{path('deleteTrickVideo', {id: video.id})}}" class="delete"><img class="icon white" src="{{asset('assets/img/svg/trash.svg')}}" data-delete-video data-token="{{csrf_token('delete' ~ video.id )}}"></a>
					</span>
				{% endfor %}

			</div>

			<div class="input">
				<label for="images">Trick images :
				</label>
				{{ form_widget(form.images) }}
				{{ form_errors(form.images) }}
			</div>

			<div id="videos" class="py-3" data-prototype="{{form_row(form.videos.vars.prototype)|e('html_attr') }}">
				{{form_row(form.videos)}}
				<span></span>
			</div>

			<div class="input">
				<label for="trick_description">Trick description</label>
				{{ form_widget(form.description) }}
				{{ form_errors(form.description) }}
			</div>

			<div class="input">
				<label for="trick_group">Trick group :
				</label>
				{{ form_widget(form.trickGroup) }}
				{{ form_errors(form.trickGroup) }}
			</div>

			<div class="input modify-image-form">
				<label for="trick_group">Trick image modify :
				</label>
				{{ form_widget(form.image) }}
				{{ form_errors(form.image) }}
				<div class="btn btn-primary" data-save-picture>Change</div>
				<div class="btn btn-dark" data-close-modify>Cancel</div>
			</div>

			<div class="input py-5 text-end">
				{{ form_widget(form.save) }}
				<span class="open-modal" data-url={{path('deleteTrick',{slug:trick.slug} )}}>
					<span class="btn btn-danger">Delete</span>
				</span>
			</div>

			{{ form_end(form) }}
		</div>
	</div>
	{% include 'component/modal.html.twig'%}
	{% include 'component/modal_image.html.twig' with {data_to_delete:'data-delete-image', text:'Are you sure to delete this image ?', del_btn_text:'Delete image', cancel_btn_text:'Cancel'} %}
	{% include 'component/modal_image.html.twig' with {data_to_delete:'data-delete-video-trick', text:'Are you sure to delete this video ?', del_btn_text:'Delete video', cancel_btn_text:'Cancel'} %}
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/form.js')}}"></script>
	<script src="{{asset('assets/js/image.js')}}" defer></script>
{% endblock %}
