{% extends 'page.html.twig' %}

{% block title %}
    Ajouter une nouvelle figure
{% endblock %}

{% block content %}
<div class="container">
        {{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5'
                        }
                    })
                }}
<div class="input">
    <label for="trick_name">Nom de la figure</label>
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<div class="input">
    <label for="trick_description">Description de la figure</label>
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>

{# <div>
<label for="trick_illustrations">illustrations de la figure</label>
    <div id="picture_list">
        {% for row in form.pictures %}
            <div class="panel panel-warning">
                <div class="panel-body">
                    {{ form_row(row) }}
                </div>
            </div>
        
     {% endfor %}
    </div>

</div> #}

{# <div class="input">
<label for="trick_group">groupe de la figure</label>
    {{ form_widget(form.trickGroup) }}
    {{ form_errors(form.trickGroup) }}
</div>

<div class="input">


<div class="input">
<label for="trick_videos">vidéos de la figure</label>
    {{ form_widget(form.videos) }}
    {{ form_errors(form.videos) }}
</div> #}

{{ form_end(form) }}
</div>

{% endblock %}

