{% extends 'base.html.twig' %}

{% block title %}Hello
	{{user.username}}
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center py-5 min-height align-items-center profile">
		<div class="col-10 col-sm-10 col-md-6 col-lg-6">

			<div class="picture-profile">
				<img src="{{asset('assets/img/users/')}}{{user.picture}}">
			</div>

			<div class="username h1_style text-center py-5">
				Hello
				{{user.username}}
				!
			</div>

			<div class="menu d-flex align-items-center justify-content-evenly">
{% if is_granted('ROLE_USER') and app.user.isVerified == 1 %}
				<div class="trick">
					<a href="{{path('createTrick')}}" class="btn btn-primary">
						Create a new trick
					</a>
				</div>
				{% endif %}

				<div class="picture">
					<div class="btn btn-primary">
						Change profile picture
					</div>

					{{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5'
                        }
                    })
                }}
					<div class="input">
						<label for="user_picture">Your profile image</label>
						{{ form_widget(form.picture) }}
						{{ form_errors(form.picture) }}
					</div>

					<div class="btn-row">
						<div class="btn btn-dark cancel">Cancel</div>
						{{ form_widget(form.save) }}
					</div>

					{{ form_end(form) }}
				</div>

			</div>

		</div>
	</div>
{% endblock %}
